# Server Configuration
PORT=3000
NODE_ENV=development
CLIENT_URL=http://localhost:3000

# Authentication
JWT_SECRET=fleetops_maritime_jwt_secret_token_key_2026

# Database & Caching
MONGO_URI=mongodb://mongodb:27017/fleetops
REDIS_URL=redis://redis:6379

# AI Studio injected parameters
GEMINI_API_KEY="MY_GEMINI_API_KEY"
APP_URL="MY_APP_URL"
